<div class="modal  modal-signin position-static d-block  py-5 bg-light"style="height: 600px; tabindex="-1" role="dialog" id="modalSignin">

    <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
    <div class="modal-header p-5 pb-4 border-bottom-0">
<form class="" action="/users/topic" method="get">
    <button type="submit" class="btn btn-success">Add New Topic</button>

</form>
</div>
<div class="modal-body p-5 pt-0">
    <h5>Recent Topics</h5>
<% if(data.length!=0){%>
    <%for(let i=0;i<data.length;i++){%>
    <div class="modal position-static d-block bg-light ">
        <ul>
   <li><a href="/users/topic/<%=data[i].topicName%>" style="text-decoration: none; font-size: 18px;"><span><%=data[i].topicName%></span></a><span style="text-decoration: none; font-size: 17px;"> : <%=percentage[i]%>% understood</span> 
   </li>
      </ul>
    <%}%>
    <%}else{%>

    <h3>No Topics</h3>
    <%}%>
</div>
</div>
</div>
</div>
</div>