
<div class="modal  modal-signin position-static d-block bg-secondary"style="height: 600px; tabindex="-1" role="dialog" id="modalSignin">
     
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">


    <div class="modal-body h-100 bg-secondary p-5 pt-5">
    <form class="" action="/users/create" method="post">
        
    
    <div class="input-group">
        <span class="input-group-text">User Name</span>
        <input type="text" aria-label="User name" class="form-control" placeholder="Enter User Name" name="userName">
        <button type="submit" class="btn btn-primary">Enter</button>
      </div>
    </form>
</div>
</div>
</div>
</div>